@font-face {
    font-family: 'Chunkfive-webfont';
    src: url('/static/css/fonts/Chunkfive-webfont.eot'); /* IE9 Compat Modes */
    src: url('/static/css/fonts/Chunkfive-webfont.eot?iefix') format('eot'), /* IE6-IE8 */
         url('/static/css/fonts/Chunkfive-webfont.woff') format('woff'), /* Modern Browsers */
         url('/static/css/fonts/Chunkfive-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/css/fonts/Chunkfive-webfont.svg#webfontakBUUg6U') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
