{% extends "base_container.html" %}

{% block about_is_active %} class="active" {% endblock %}

{% block  data %}

    <h3>What ?</h3>
    Software craftsmanship in Israel is a group of <i>kind minded people</i> that <i>deeply care for their profession</i>.

    <br />
    <br />

    <h3>Why ?</h3>
    Nowadays, composing software is one of the challenging tasks, an application developer faces with.
    <br />
    There are many fields to master, such as different languagues, protocols, frameworks, technologies, environments, IDEs and etc...
    <br />
    As in all trades, to learn so many fields <i>takes time, persistence and determination</i>.
    <br />
    The sofware craftsmansnip community believes that we all should <a href="http://redsquirrel.com/dave/work/a2j/chapters/WalkingtheLongRoad.html"><i>walk the long road</i></a>
    to become experts in our field.
    <br />
    During the journey, we will absorb skills that will allow us to select the best solutions for our businesses;
    <br />
    To provide well maintained, well validated, simple and elegant solutions - just in time for our clients.
    <br />
    <br />

    <h3>How ?</h3>
    The group focuses in creating a community of highly skilled software engineers that share their experiences, practice on a regular basis and excell in their profession.
    <br />
    Since it makes sense to bind such a community with its members' professional profiles, the following <a href="http://www.linkedin.com/groups?gid=2578449">Linkedin group</a> was created.
    <br />
    You are welcome to register...
    <br />
    <br />

    <h3>When ?</h3>
    The group was established somewhere in <a href="http://en.wikipedia.org/wiki/Software_craftsmanship#History">December 2009</a>
    <br />
    The aim is to meet periodically to discuss and learn principles, best practices and to share the secrets of our trade in order to
    help us in our journey to become experts.
    <br />
    <br />

    <br />
    <h3>Would you like to know more ?</h3>
    <ul>
    <li><a href="http://manifesto.softwarecraftsmanship.org/"><span class="">Software Craftsmanship Manifesto</span></a></li>
    <li><a href="http://blogs.microsoft.co.il/blogs/uri_lavi/archive/2009/12/20/software-craftsmanship-in-israel.aspx"><span class="">Announcing Software Craftsmanship in Israel Group</span></a></li>
    <li><a href="http://blogs.microsoft.co.il/blogs/uri_lavi/archive/2010/10/04/software-craftsmanship-podcast.aspx"><span class="">Software Craftsmanship in Israel - Podcast in Hebrew</span></a>(Thanks to <a href="http://www.reversim.com">reversim</a>)</li>
    <li><a href="http://www.infoq.com/presentations/craftmanship-ethics"><span class="">Robert C. Martin - On Craftsmanship and Ethics</span></a></li>
    <li><a href="http://thecleancoder.blogspot.com/2011/01/software-craftsmanship-what-it-all.html"><span class="">Robert C. Martin - Software Craftsmanship: What it's all about</span></a></li>
    <li><a href="http://blogs.microsoft.co.il/blogs/uri_lavi/archive/tags/Software+Craftsmanship/default.aspx"><span class="">A summary of some of the previous meetings</span></a></li>
    </ul>

{% endblock %}

{% block social %} <div class="navbar"></div> {% endblock %}