{% extends "base_container.html" %}

{% block home_is_active %} class="active" {% endblock %}

{% block  data %}

    <h3>Next Event:</h3>

    <br />

    {% include "event.html" %}

    {% if event.tickets %}

        <br />
        {{ event.tickets.data|safe }}

    {% endif %}

{% endblock %}

{% block social %}

    <div class="container footer-inner">
        <div class="social">
            <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
            <g:plusone annotation="bubble" size="medium" expandTo="top"></g:plusone>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
        </div>
    </div>

    <div id="fb-root"></div>
    <script type="text/javascript">
        (function(doc, script) {
            var js,
                    fjs = doc.getElementsByTagName(script)[0],
                    add = function(url, id) {
                        if (doc.getElementById(id)) {return;}
                        js = doc.createElement(script);
                        js.src = url;
                        id && (js.id = id);
                        fjs.parentNode.insertBefore(js, fjs);
                    };
            // Google+ button
            add('https://apis.google.com/js/plusone.js');
            // Facebook SDK
            add('//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk');
            // Twitter SDK
            add('//platform.twitter.com/widgets.js', 'twitter-wjs');
        }(document, 'script'));
    </script>
{% endblock %}