{% extends "base.html" %}

{% block events_is_active %} class="active" {% endblock %}

{% block  details %}

    {% for event in previousEvents %}

        <div class="container box-inner">

            {% include "event.html" %}

            {% if event.link_set.all|length > 0 %}
                <br />
                <h3>Links:</h3>

                {% for link in event.link_set.all %}
                    <ul>
                        <li><a href="{{ link.uri }}">{{ link.description }}</a></li>
                    </ul>
                {% endfor %}

            {% endif %}

        </div>

    {% endfor %}

{% endblock %}
